.DS_Store
node_modules/
*node_modules/
dist/
*.log
logs/
.env
.env.local
.env.*.local
.env.production
.pm2_startup_done
*.pem
*.key
*.crt
.vscode/
.idea/
*.swp
*.swo
*~
.cache/
coverage/
node_modules/cheerio-select/lib/esm/index.js
